/****************************************
  ==== RESETS
****************************************/

html,body,div,canvas { margin: 0; padding: 0; }
::-moz-selection { color: #333; text-shadow: none; }
::selection {  color: #333; text-shadow: none; background: #cacaca;}
.clear:after { visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }
.clear { display: inline-table; clear: both; }
/* Hides from IE-mac \*/ * html .clear { height: 1%; } .clear { display: block; } /* End hide from IE-mac */

/****************************************
  ==== LAYOUT
****************************************/

html, body { font-family: Helvetica, Verdana, Arial, sans-serif; }

	* {
	  margin: 0;
	  padding: 0;
	}

    div#progressBar {
	left: 384px;
	top: 400px;
	position: absolute;
	width: 190px;
	height: 12px;
	background-color: #8cb792;
	z-index: 1;
    }

    div#loadingBox {
	left: 0px;
	top: 0px;
	position: absolute;
	z-index: 0;
    }
